{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>筋トレメニューアプリ(仮)</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>
    <img src="../../media/gymbg.jpg" alt="背景画像" class="fixed bg-cover bg-center bg-no-repeat z-0" style="background-image: url('../../media/gymbg.jpg'); width: 100%; height: 100%;">
<div class="flex flex-col justify-center items-center  px-auto mx-auto min-h-screen">
  <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700 z-10">
    <form class="space-y-6" action="{% url 'App:signup' %}" method="post">
      <div class="flex justify-between items-center">
        <h5 class="text-xl font-medium text-gray-900 dark:text-white">新規登録</h5>
        <a class="text-blue-700 hover:underline dark:text-blue-500" href="{% url 'App:list' %}">メイン画面に戻る</a>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.username.id_for_label }}">ユーザーid</label>
        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" id="{{ form.username.id_for_label }}" type="{{ form.username.field.widget.input_type }}" name="{{ form.username.html_name }}" value="{{ form.username.value|default:'' }}" placeholder="user_id" {% if form.username.field.required %}required{% endif %}>
      </div>
      
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.password1.id_for_label }}">パスワード</label>
        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" id="{{ form.password1.id_for_label }}" type="{{ form.password1.field.widget.input_type }}" name="{{ form.password1.html_name }}" value="{{ form.password1.value|default:'' }}" placeholder="••••••••" {% if form.password1.field.required %}required{% endif %}>
      </div>
      
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.password2.id_for_label }}">パスワード（確認用）</label>
        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" id="{{ form.password2.id_for_label }}" type="{{ form.password2.field.widget.input_type }}" name="{{ form.password2.html_name }}" value="{{ form.password2.value|default:'' }}" placeholder="••••••••" {% if form.password2.field.required %}required{% endif %}>
      </div>
      <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">新規登録</button>
      <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
        登録がお済ですか? <a href="/login" class="text-blue-700 hover:underline dark:text-blue-500 ml-25">＞＞ログイン</a>
      </div>
      {% csrf_token %}
    </form>
  </div>
</body>
</html>