{% extends "base.html" %}

{% block content_block %}

<div class="w-full md:w-[1000px] md:max-w-full mx-auto z-10 text-xl overflow-auto">
  <div class="p-6 border border-gray-300 sm:rounded-md bg-white">
    <form method="POST" action="https://herotofu.com/start">
      <label class="block mb-6">
        <span class="text-gray-700 text-xl">Q1.週に何回ジムに行けますか？</span>
        <div class="mt-2">
          <select name="frequency" class="block w-full rounded-md shadow-sm border border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 my-8">
            <option>1回</option>
            <option>2回</option>
            <option>3回</option>
            <option>4回</option>
            <option>5回</option>
            <option>6回以上</option>
          </select>
        </div>
      </label>
      <label class="block mb-6">
        <span class="text-gray-700 text-xl">Q2.1回のトレーニングにどれくらい時間をかけられますか？</span>
        <div class="mt-2">
          <select name="period" class="block w-full rounded-md shadow-sm border border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 my-8">
            <option>30分</option>
            <option>1時間</option>
            <option>1.5時間</option>
            <option>2時間</option>
            <option>2.5時間</option>
            <option>3時間</option>
            <option>それ以上</option>
          </select>
        </div>
      </label>
    <div class="relative">
      <label class="block mb-6">
        <div class="flex">
          <span class="text-gray-700 text-xl">Q3.全身法と分割法どっちがいいですか？</span>
          <span class="ml-2 text-gray-400 cursor-pointer hover:text-gray-600" title="全身法は1回のトレーニングで全身の筋肉を鍛える方法で、分割法は1回のトレーニングで鍛える筋肉を絞る方法です。頻度が高い方は分割法がおすすめです。">
            <img src="../../media/imark.png" class="w-4 h-4" alt="インフォメーションマーク">
          </span>
        </div>
        <div class="mt-2">
          <label class="inline-flex items-center">
            <input name="frequency" type="radio" class="text-indigo-600 border-gray-300 rounded-full shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50"/>
            <span class="ml-2">全身法</span>
          </label>
        </div>
        <div>
          <label class="inline-flex items-center">
            <input name="frequency" type="radio" class="text-indigo-600 border-gray-300 rounded-full shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50"/>
            <span class="ml-2">分割法</span>
          </label>
        </div>
      </label>
    </div>
      <label class="block mb-6">
        <span class="text-gray-700 text-xl">Q4.特に鍛えたい部位はありますか？</span>
        <div class="mt-2">
          <select name="period" class="block w-full rounded-md shadow-sm border border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 my-8">
            <option>胸</option>
            <option>背中</option>
            <option>脚</option>
            <option>肩</option>
            <option>腕</option>
            <option>腹筋</option>
            <option>特になし</option>
          </select>
        </div>
      </label>
      <label class="block mb-6">
        <span class="text-gray-700 text-xl">Q5.特に鍛えたくない部位はありますか？</span>
        <div class="mt-2">
          <select name="period" class="block w-full rounded-md shadow-sm border border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 my-8">
            <option>胸</option>
            <option>背中</option>
            <option>脚</option>
            <option>肩</option>
            <option>腕</option>
            <option>腹筋</option>
            <option>特になし</option>
          </select>
        </div>
      </label>
      <div class="relative">
        <label class="block mb-6">
          <div class="flex">
            <span class="text-gray-700 text-xl">Q6.フリーウェイトメインがいいですか？マシンメインがいいですか？</span>
            <span class="ml-2 text-gray-400 cursor-pointer hover:text-gray-600" title="フリーウェイトとはダンベルやバーベルなど、軌道が固定されていない器具です。マシンは逆に軌道が固定されている器具です。初心者にはマシンがおすすめですが、是非フリーウェイトにも挑戦してみてください。">
              <img src="../../media/imark.png" class="w-4 h-4" alt="インフォメーションマーク">
            </span>
          </div>
          <div class="mt-2">
            <label class="inline-flex items-center">
              <input name="frequency" type="radio" class="text-indigo-600 border-gray-300 rounded-full shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50"/>
              <span class="ml-2">フリーウェイト</span>
            </label>
          </div>
          <div>
            <label class="inline-flex items-center">
              <input name="frequency" type="radio" class="text-indigo-600 border-gray-300 rounded-full shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50"/>
              <span class="ml-2">マシン</span>
            </label>
          </div>
        </label>
      </div>
        <label class="block mb-6">
          <div class="flex">
            <span class="text-gray-700 text-xl">Q6.フリーウェイトメインがいいですか？マシンメインがいいですか？</span>
            <span class="ml-2 text-gray-400 cursor-pointer hover:text-gray-600" title="フリーウェイトとはダンベルやバーベルなど、軌道が固定されていない器具です。マシンは逆に軌道が固定されている器具です。初心者にはマシンがおすすめですが、是非フリーウェイトにも挑戦してみてください。">
              <img src="../../media/imark.png" class="w-4 h-4" alt="インフォメーションマーク">
            </span>
          </div>
          <div class="mt-2">
            <label class="inline-flex items-center">
              <input name="frequency" type="radio" class="text-indigo-600 border-gray-300 rounded-full shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50"/>
              <span class="ml-2">フリーウェイト</span>
            </label>
          </div>
          <div>
            <label class="inline-flex items-center">
              <input name="frequency" type="radio" class="text-indigo-600 border-gray-300 rounded-full shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50"/>
              <span class="ml-2">マシン</span>
            </label>
          </div>
        </label>
        <label class="block mb-6">
          <div class="flex">
            <span class="text-gray-700 text-xl">Q6.フリーウェイトメインがいいですか？マシンメインがいいですか？</span>
            <span class="ml-2 text-gray-400 cursor-pointer hover:text-gray-600" title="フリーウェイトとはダンベルやバーベルなど、軌道が固定されていない器具です。マシンは逆に軌道が固定されている器具です。初心者にはマシンがおすすめですが、是非フリーウェイトにも挑戦してみてください。">
              <img src="../../media/imark.png" class="w-4 h-4" alt="インフォメーションマーク">
            </span>
          </div>
          <div class="mt-2">
            <label class="inline-flex items-center">
              <input name="frequency" type="radio" class="text-indigo-600 border-gray-300 rounded-full shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50"/>
              <span class="ml-2">フリーウェイト</span>
            </label>
          </div>
          <div>
            <label class="inline-flex items-center">
              <input name="frequency" type="radio" class="text-indigo-600 border-gray-300 rounded-full shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50"/>
              <span class="ml-2">マシン</span>
            </label>
          </div>
        </label>
        
        
        




        <div class="mb-6">
          <button type="submit" class="h-10 px-5 text-indigo-100 bg-indigo-700 rounded-lg transition-colors duration-150 focus:shadow-outline hover:bg-indigo-800 text-sm">Send Answers</button>
        </div>
        <div>
          <div class="mt-2 text-gray-700 text-right text-xs">
            by
            <a href="https://herotofu.com" class="hover:underline" target="_blank">HeroTofu</a>
          </div>
        </div>
    </form>
  </div>
</div>
  {% endblock %}
  <!-- <div>
    <label class="inline-flex items-center">
      <input name="frequency" type="radio" class="text-indigo-600 border-gray-300 rounded-full shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50"/>
      <span class="ml-2">週に1回</span>
    </label>
  </div>
  <div>
    <label class="inline-flex items-center">
      <input name="frequency" type="radio" class="text-indigo-600 border-gray-300 rounded-full shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50"/>
      <span class="ml-2">週に1回</span>
    </label>
  </div> -->